.settings {
  display: flex;
}

.settingsWrapper {
  flex: 9;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsUpdateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: rgb(5, 102, 39);
  font-weight: 600;
  margin-left: 150px;
}

.settingsForm {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.settingsPP {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.settingsPP > img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.settingsPPIcon {
  font-size: 25px;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  background-color: rgb(1, 138, 1);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.settingsForm > input {
  color: gray;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.settingsSubmit {
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(3, 148, 148);
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.settingsSubmit:hover {
  background-color: teal;
}
